.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    margin-top: 4%;
    border-radius: 10px;
    padding: 2%;
    
}

.login .form {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    
}

.form input{
    padding: 15px 15px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 6px;
}

.form button{
    width: 25%;
    background-color: deepskyblue;
    border: none;
    padding: 15px 25px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}