.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: deepskyblue;
    height: 66px;
    padding: 0 2%;
   
   
}

.header h1{
    color: white;
}